.fixed-stay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
}

.sidebar {
    border-right: 1px solid grey;
}

.basic-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}