<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>{% block title %}{% endblock %}</title>
</head>

<body>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="/static/NUTT_logo.png" width="50" height="50" class="ms-3">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link {% if index_active %} active{% endif %}" aria-current="page" href="/">Home</a>
          </li>
          {% if session.get('logged_in') %}
          <li class="nav-item">
            <a class="nav-link {% if create_restroom_active %} active{% endif %}" href="/new">Create</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link {% if maps_active %} active{% endif %}" href="/maps">Maps</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if about_active %} active{% endif %}" href="/about">About</a>
          </li>
        </ul>
        <form class="d-flex mx-auto ms-5" role="search" action="/search" method="get">
          <input class="form-control me-2" name="searchbox" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          {% if session.get('logged_in') %}
          <li class="nav-item">
            <div class="dropdown text-center me-2 py-2">
              <a type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="/static/cat.jpg" style="width:45px;height:45px;" class="rounded-circle">
              </a>
              <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
                <li><a class="dropdown-item" href="/view_profile">View your profile</a></li>
                <li><a class="dropdown-item" href="#">View your posts</a></li>
                <hr class="my-2">
                <li>              
                  <!-- Button trigger modal -->
                  <button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#logout">
                    <i class="fa-solid fa-right-from-bracket me-2" style="color: #ffffff;"></i>Logout
                  </button>
                </li>
              </ul>
              <!-- Modal -->
              <div class="modal fade" id="logout" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="logout" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="logout">Confirm logout?</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <p>You will be logged out and returned to the login page</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <form action="/logout" method="post">
                        <button type="submit" class="btn btn-danger"><i class="fa-solid fa-right-from-bracket me-2" style="color: #ffffff;"></i>Logout</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link {% if login_active %} active{% endif %}" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if signup_active %} active{% endif %}" href="/signup">Sign Up</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  {% block body %}
  {% endblock %}
  <!-- Footer -->
  <!-- <footer class="footer bg-dark text-white py-3">
    <div class="container-fluid d-flex justify-content-center align-items-center">
      <div class="row">
        <div class="col-12 col-md-6 text-center text-md-start">
          <p class="m-0" style="white-space: nowrap;">Copyright © 2023 Niner United Toilet Trackers
            <span class="ms-2">|</span>
          </p>
        </div>
        <div class="col-12 col-md-6 text-center text-md-end">
          <a class="text-decoration-none text-white" href="/about" style="white-space: nowrap;">About</a>
        </div>
      </div>
    </div>
  </footer> -->
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>
</body>

</html>
