<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">NUTT</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link {% if index_active %} active{% endif %}" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if create_restroom_active %} active{% endif %}" href="/new">Create</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if maps_active %} active{% endif %}" href="/maps">Maps</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if login_active %} active{% endif %}" href="/login">Log-In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if signup_active %} active{% endif %}" href="/signup">Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if about_active %} active{% endif %}" href="/about">About</a>
          </li>
        </ul>
        <form class="d-flex" role="search" action="/search" method="get">
          <input class="form-control me-2" name="searchbox" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  {% block body %}
  {% endblock %}
  <!-- Footer -->
</body>
</html>