{% extends '_layout.html' %}
{% block title %} NUTT | About {% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="container text-center bg-secondary-subtle rounded-5 mt-5 box-shadow">
        <h1 class="my-4">When You Got to Go...</h1>
        <div class="  ">
            <p class="fs-5">
                Members of Niner Nation fight the constant struggle to find a clean and acessible restroom around our wonderful campus. That's why Niners United Toilet Tracking (aka NUTT) is committed to help you find a restroom while in a dire situation.
                <br>
                <br>
                Here you can see all of the restrooms in UNCC! You can put your restroom ratings on our page to put in your experience, and can also view other peoples ratings for your convenience! We know the battle to find a clean restroom is uphill, much like our campus, but maybe there's a solution closer downhill... (psst! Student Union 3rd Floor!)
            </p>
            <h2>How do I use this website?</h2>
            <div class="row">
                <div class="col">
                    <img src="static/Sort_rating.jpg" alt="sort_rating" class="img-fluid text-start">
                </div>
                <div class="col pe-5">
                    <p class="fs-5">You can sort by your desired preference using the buttons on the top left screen (shown by the left picture)</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}