{% extends '_layout.html' %}
{% block title %} NUTT | Edit Profile {% endblock %}
{% block head %} 
<style>
    body {
        background-color: #eee;
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-6">
            <div class="card mt-4 mb-5 box-shadow">
                <form action="/updatePassword" method="post" onsubmit="return validatePassword()">
                    <div class="card-header d-flex justify-content-center mb-3 py-3">
                        <h1 class="display-4">Change Password</h1>
                    </div>
                    <div class="card-body mb-5 py-3">
                        {% if message %}
                        <div class="d-flex justify-content-center">
                            <div class="alert alert-danger mb-3 alert-dismissible fade show"><i class="fa-solid fa-circle-exclamation fa-bounce me-1" style="color:red;"></i>{{ message }}<button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>
                        </div>
                        {% endif %}
                        <label for="oldPassword" class="form-label">Old Password</label>
                        <div class="input-group mb-3">
                            <input type="password" class="form-control" id="oldPassword" name="oldPassword" placeholder="Enter old password" oninput="checkInputRequired('oldPassword')" required>
                            <span class="input-group-text">
                                <i id="eye" class="fa fa-eye-slash" onclick="togglePasswordVisibility('oldPassword', 'eye')" style="cursor: pointer"></i>
                            </span>
                        </div>
                        <label for="password" class="form-label">New Password</label>
                        <div class="input-group">
                            <span class="input-group-text">
                                <i class="fa fa-lock"></i>
                            </span>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Enter new password" oninput="checkPasswordLength()" required>
                            <span class="input-group-text">
                                <i id="eye" class="fa fa-eye-slash" onclick="togglePasswordVisibility('password', 'eye')" style="cursor: pointer"></i>
                            </span>
                        </div>
                        <div id="passwordLengthError" style="display:none;color:red;"><i class="fa-solid fa-circle-exclamation fa-bounce mx-2" style="color:red;"></i>Password is too short</div>
                        <label for="repassword" class="form-label mt-3">Confirm New Password</label>
                        <div class="input-group">
                            <span class="input-group-text">
                                <i class="fa fa-lock"></i>
                            </span>
                            <input type="password" class="form-control" id="repassword" name="repassword" placeholder="Confirm new password"  oninput="checkPasswordMatch()" required>
                            <span class="input-group-text">
                                <i id="eye" class="fa fa-eye-slash" onclick="togglePasswordVisibility('repassword', 'eye')" style="cursor: pointer"></i>
                            </span>
                        </div>
                        <div id="passwordMatchError" style="display:none;color:red;"><i class="fa-solid fa-circle-exclamation fa-bounce mx-2" style="color:red;"></i>Passwords do not match</div>
                    </div>
                    <div class="d-flex justify-content-center mb-3">
                        <div class="d-flex mb-3 col-4 me-5">
                            <a class="btn col btn-secondary" href="/profile" role="button"><i class="fa-solid fa-arrow-left me-2"></i>Go back</a>
                        </div>
                        <div class="d-flex mb-3 col-4 ms-3">
                            <button type="submit" class ="btn col box-shadow" style="background-color: rgba(98,241,210,1.0);"><i class="fa-solid fa-floppy-disk me-2"></i>Update</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}