{% extends '_layout.html' %}
{% block title %} NUTT | Create {% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-6 col-11 mt-3">
            <form action="/create" method="post" class="bg-body-secondary my-4 p-5 box-shadow" style="border-radius: 4rem;">
                <h1 class="text-center fw-bold">Add Rating</h1>
                <div class="form-group mb-3">
                    <label for="restroom" class="form-label fw-bold">Restroom location</label>
                    <input type="text" name="restroom" class="form-control" placeholder="Ex: Student Union 1st Floor (Elevator)" required>
                </div>
                <div class="form-group mb-3">
                    <label for="clean_rating" class="form-label fw-bold">Cleanliness</label>
                    <div class="row">
                        <div class="col-md-11">
                            <input type="range" name="clean_rating" class="form-range clean-range" min="1" max="5" step="0.5" required>
                        </div>
                        <div class="col-md-1">
                            <div class="clean-value"></div>
                        </div>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <label class="form-label fw-bold">Accessibility</label>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="accessibility" value="faculty" id="Accessibility1">
                        <label class="form-check-label" for="Accessibility1">Faculty</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="accessibility" value="student" id="Accessibility2">
                        <label class="form-check-label" for="Accessibility2">Student</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="accessibility" value="handicapped" id="Accessibility3">
                        <label class="form-check-label" for="Accessibility3">Handicapped</label>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <label class="form-label fw-bold">Functionality</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="func" id="functionality1" value="Open" checked>
                        <label class="form-check-label" for="functionality1">Open</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="func" id="functionality2" value="Closed">
                        <label class="form-check-label" for="functionality2">Closed</label>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <label for="overall_rating" class="form-label fw-bold">Overall Rating</label>
                    <div class="row">
                        <div class="col-md-11">
                            <input type="range" name="overall_rating" class="form-range overall-range" min="1" max="5" step="0.5" required>
                        </div>
                        <div class="col-md-1">
                            <div class="overall-value"></div>
                        </div>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <label for="comment" class="form-label fw-bold">Feedback</label>
                    <textarea name="comment" class="form-control" rows="4" placeholder="Leave some feedback" required></textarea>
                </div>
                <div class="form-group mt-4 d-flex justify-content-center">
                    <button type="submit" class="btn" style="background-color: rgba(98,241,210,1.0);">Submit Rating</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    let cleanSlider = document.querySelector('.clean-range');
    let cleanValue = document.querySelector('.clean-value');
    cleanValue.textContent = cleanSlider.value;
    cleanSlider.oninput = function() {cleanValue.textContent = this.value;}
  
    let overallSlider = document.querySelector('.overall-range');
    let overallValue = document.querySelector('.overall-value');
    overallValue.textContent = overallSlider.value;
    overallSlider.oninput = function() {overallValue.textContent = this.value;}
</script>
{% endblock %}