{% extends '_layout.html' %}
{% block title %} NUTT | Edit Rating {% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-6 col-11 mt-3">
            <form method="post" action="/restroom/{{ rating.rating_id }}" class="bg-body-secondary my-4 p-5 box-shadow" style="border-radius: 4rem;">
                <h1 class="text-center fw-bold">Edit Rating</h1>
                <div class="form-group mb-3">
                    <label for="restroom" class="form-label fw-bold">Restroom location</label>
                    <input type="text" name="restroom" value="{{ rating.restroom_name }}" class="form-control" required>
                </div>
                <div class="form-group mb-3">
                    <label for="clean_rating" class="form-label fw-bold">Cleanliness</label>
                    <div class="row">
                        <div class="col-md-11">
                            <input type="range" name="clean_rating" class="form-range clean-range" min="1" max="5" step="0.5" value="{{ rating.cleanliness }}" required>
                        </div>
                        <div class="col-md-1">
                            <div class="clean-value"></div>
                        </div>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <label class="form-label fw-bold">Accessibility</label>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="faculty" id="accessibility1" name="accessibility" {% if rating.accessibility and "faculty" in rating.accessibility %}checked{% endif %}>
                        <label class="form-check-label" for="accessibility1">Faculty</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="student" id="accessibility2" name="accessibility" {% if rating.accessibility and "student" in rating.accessibility %}checked{% endif %}>
                        <label class="form-check-label" for="accessibility2">Student</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="handicapped" id="accessibility3" name="accessibility" {% if rating.accessibility and "handicapped" in rating.accessibility %}checked{% endif %}>
                        <label class="form-check-label" for="accessibility3">Handicapped</label>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <label class="form-label fw-bold">Functionality</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="func" id="functionality1" value="Open" {% if rating.functionality %}checked{% endif %}>
                        <label class="form-check-label" for="functionality1">Open</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="func" id="functionality2" value="Closed" {% if not rating.functionality %}checked{% endif %}>
                        <label class="form-check-label" for="functionality2">Closed</label>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <label for="overall_rating" class="form-label fw-bold">Overall Rating</label>
                    <div class="row">
                        <div class="col-md-11">
                            <input type="range" name="overall_rating" class="form-range overall-range" min="1" max="5" step="0.5" value="{{ rating.overall }}" required>
                        </div>
                        <div class="col-md-1">
                            <div class="overall-value"></div>
                        </div>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <label for="comment" class="form-label fw-bold">Feedback</label>
                    <textarea name="comment" class="form-control" rows="4">{{ rating.feedback }}</textarea>
                </div>
                <div class="form-group mt-4 d-flex justify-content-center">
                    <button type="submit" class = "btn" style="background-color: rgba(98,241,210,1.0);">Update Rating</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    let cleanSlider = document.querySelector('.clean-range');
    let cleanValue = document.querySelector('.clean-value');
    cleanValue.textContent = cleanSlider.value;
    cleanSlider.oninput = function() {cleanValue.textContent = this.value;}
  
    let overallSlider = document.querySelector('.overall-range');
    let overallValue = document.querySelector('.overall-value');
    overallValue.textContent = overallSlider.value;
    overallSlider.oninput = function() {overallValue.textContent = this.value;}
</script>
{% endblock %}