{% extends '_layout.html' %}
{% block title %} NUTT | Home {% endblock %}

{% block body %}
<div class="container-fluid">
  <div class="row">

    <div class="col-sm-2 p-0">
      <div class="basic-column my-5">
        <form class="bg-body-secondary" id="index-sort-by" action="/" method="post">
          <h4>Sort By:</h4>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="sort-by" value="Most Recent">
            <label class="form-check-label" for="sort-by">Most Recent</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="sort-by" value="Cleanliness">
            <label class="form-check-label" for="sort-by">Cleanliness</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="sort-by" value="Handicap">
            <label class="form-check-label" for="sort-by">Handicap</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="sort-by" value="Functionality">
            <label class="form-check-label" for="sort-by">Functionality</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="sort-by" value="Faculty Only">
            <label class="form-check-label" for="sort-by">Faculty Only</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="sort-by" value="Overall">
            <label class="form-check-label" for="sort-by">Overall Experience</label>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Sort</button>
          </div>
        </form>
      </div>
    </div>
    
    <div class="col-sm-7 p-0">
      <div class="mx-4 mt-4">
      {% if(ratings | length > 0) %}
        {% for rating in ratings %}
          <div class="card mb-4 p-0">
            <div class="row m-0">
              <div class="col-sm-1 sidebar">
                <div class="basic-column">
                  <button type="button" class="btn upvote" id="upvote-{{ rating.rating_id }}" data-rating_id="{{ rating.rating_id }}"><i class="fas fa-arrow-up up"></i></button>
                  <span class="total-votes numVotes" id="num-{{ rating.rating_id }}" data-num_votes="{{rating.votes}}" data-rating_id="{{ rating.rating_id }}">{{ rating.votes }}</span>
                  <button type="button" class="btn downvote" id="downvote-{{ rating.rating_id }}" data-rating_id="{{ rating.rating_id }}"><i class="fas fa-arrow-down down"></i></button>
                </div>
              </div>
              <div class="col-sm-11 p-0"><a href="{{ url_for('view_single_restroom', rating_id=rating.rating_id) }}" class="to-post">
                <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                <div class="card-body">
                  <h5 class="card-title">{{ rating.restroom_name }}</h5>
                  <p class="card-text">{{ rating.rating_body }}</p>
                </div>
              </div></a>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <div class="alert alert-danger" role="alert">No restrooms found!</div>
      {% endif %}
      </div>
    </div>

    <div class="col-sm-3 p-0">
      <div class="d-flex justify-content-center">
        <div class="position-absolute">
          <form class="bg-body-secondary mt-5" id="index-leave-rating" action="/leaverating" method="post">
            <h4 class="text-center">Leave a Rating!</h4>
            <div class="form-group">
              <label for="location">Location</label>
              <input type="text" class="form-control" name="location" placeholder="Woodward 1st Floor (Elevator)" required>
            </div>
            <div class="form-group">
              <label for="rating_body">Feedback</label>
              <textarea class="form-control" rows="5" name="rating_body"></textarea>
            </div>
            <div class="form-group">
              <label for="cleanliness">Cleanliness</label>
              <div class="row">
                <div class="col-md-10">
                  <input type="range" class="form-range clean-range" min="1" max="5" step="0.5" name="cleanliness" required>
                </div>
                <div class="col-md-2">
                  <div class="clean-value"></div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="overall">Overall Experience</label>
              <div class="row">
                <div class="col-md-10">
                  <input type="range" class="form-range overall-range" min="1" max="5" step="0.5" name="overall" required>
                </div>
                <div class="col-md-2">
                  <div class="overall-value"></div>
                </div>
              </div>
            </div>
            <div class="form-group mt-4">
              <button type="button" class="btn btn-info">Add More Info</button>
              <button type="submit" class="btn btn-success">Submit Rating</button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>

<script>
  let cleanSlider = document.querySelector('.clean-range');
  let cleanValue = document.querySelector('.clean-value');
  cleanValue.textContent = cleanSlider.value;
  cleanSlider.oninput = function() {cleanValue.textContent = this.value;}

  let overallSlider = document.querySelector('.overall-range');
  let overallValue = document.querySelector('.overall-value');
  overallValue.textContent = overallSlider.value;
  overallSlider.oninput = function() {overallValue.textContent = this.value;}

  ////////////////////////
  //upvotes/downvotes JS
  const _upvote = document.querySelectorAll('.upvote');
  const _downvote = document.querySelectorAll('.downvote');

  const up = document.querySelectorAll('.up');
  const down = document.querySelectorAll('.down');

  const numVotes = document.querySelectorAll('.numVotes')

  up.forEach(element => element.addEventListener('click', uclick));
  down.forEach(element => element.addEventListener('click', dclick));

  function uclick(e) {
    let upvote = e.target;
    if(upvote.classList.contains('clickedUpvote')) {
      upvote.classList.remove('clickedUpvote');
      _upvote.forEach(element => element.addEventListener('click', dislike));
    } else {
      upvote.classList.add('clickedUpvote');
      _upvote.forEach(element => element.addEventListener('click', like));
      
    }
  }

  function dclick(e) {
    let downvote = e.target;
    if(downvote.classList.contains('clickedDownvote')) {
      downvote.classList.remove('clickedDownvote');
      _downvote.forEach(element => element.addEventListener('click', like));
    } else {
      downvote.classList.add('clickedDownvote');
      _downvote.forEach(element => element.addEventListener('click', dislike));
    }
  }

  function like(e) {
    like = e.currentTarget;
    rating_id = like.getAttribute('data-rating_id');

    numVotes.forEach(element => {
    if (element.getAttribute('data-rating_id') === rating_id) {
      let new_num = parseInt(element.getAttribute('data-num_votes')) + 1;
      element.textContent = new_num;
    }});

    $(document).on('click', `#upvote-${rating_id}`, function(event) {
      let id = $(event.currentTarget).attr('data-rating_id');
      $.ajax({
        url : `/upvote/${id}`,
        type : "post",
        contentType: 'application/json;charset=UTF-8',
        dataType: "json",
        data : JSON.stringify({'rating_id' : $(`#upvote-${rating_id}`).data('rating_id')}),
        success : function(response) {
          console.log(response);
        },
        error : function(xhr) {
          console.log(xhr);
        }
      });
      event.preventDefault();
    });
  }
    
  function dislike(e) {
    dislike = e.currentTarget;
    rating_id = dislike.getAttribute('data-rating_id');

    numVotes.forEach(element => {
    if (element.getAttribute('data-rating_id') === rating_id) {
      let new_num = parseInt(element.getAttribute('data-num_votes')) - 1;
      element.textContent = new_num;
    }});

    $(document).on('click', `#downvote-${rating_id}`, function(event) {
    let id = $(event.currentTarget).attr('data-rating_id');
    $.ajax({
      url : `/downvote/${id}`,
      type : "post",
      contentType: 'application/json;charset=UTF-8',
      dataType: "json",
      data : JSON.stringify({'rating_id' : $(`#downvote-${rating_id}`).data('rating_id')}),
      success : function(response) {
        console.log(response);	
      },
      error : function(xhr) {
        console.log(xhr);
      }
    });
    event.preventDefault();
  });
  }
</script>
{% endblock %}