{% extends '_layout.html' %}
{% block title %} NUTT | Home {% endblock %}

{% block body %}
<div class="container-fluid">
  <div class="row">

    <div class="col-sm-2 p-0">
      <div class="basic-column my-4">
        <form class="bg-body-secondary" id="index-sort-by" action="/" method="post">
          <h4>Sort By:</h4>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="sort-by" value="Most Recent">
            <label class="form-check-label" for="sort-by">Most Recent</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="sort-by" value="Cleanliness">
            <label class="form-check-label" for="sort-by">Cleanliness</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="sort-by" value="Handicap">
            <label class="form-check-label" for="sort-by">Handicap</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="sort-by" value="Functionality">
            <label class="form-check-label" for="sort-by">Functionality</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="sort-by" value="Faculty Only">
            <label class="form-check-label" for="sort-by">Faculty Only</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="sort-by" value="Overall">
            <label class="form-check-label" for="sort-by">Overall Experience</label>
          </div>
          <div class="form-group text-center">
            <button type="submit" class="btn mt-2" style="background-color: rgba(98,241,210,1.0);"><i class="fa-solid fa-filter me-1" style="color: #000000;"></i>Sort</button>
          </div>
        </form>
      </div>
    </div>
    
    <div class="col-sm-7 p-0">
      {% if logged_in_message %}
      <div class="d-flex justify-content-center mx-5">
        <div class="alert alert-success mt-3 alert-dismissible fade show"><i class="fa-solid fa-circle-check me-2" style="color: #198754;"></i>{{ logged_in_message }}<button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>
      </div>
      {% endif %}
      <div class="mx-4 mt-4">
        <form class="d-flex" role="search" action="/search" method="get">
          <input class="form-control me-2" name="searchbox" type="search" placeholder="Search for a rating" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
      <div class="mx-4 my-4">
      {% if ratings.total > 0 %}

        {% for rating in ratings.items %}
          <div class="card mb-4 p-0">
            <div class="row m-0">
              <div class="col-sm-1 bg-body-tertiary">
                <div class="basic-column">
                  <button type="button" class="btn upvote vote" id="upvote" data-rating_id="{{ rating.rating_id }}"><i class="fas fa-arrow-up up"></i></button>
                  <span class="total-votes numVotes" id="num-{{ rating.rating_id }}" data-num_votes="{{rating.votes}}" data-rating_id="{{ rating.rating_id }}">{{ rating.votes }}</span>
                  <button type="button" class="btn downvote vote" id="downvote" data-rating_id="{{ rating.rating_id }}"><i class="fas fa-arrow-down down"></i></button>
                </div>
              </div>
              <div class="col-sm-11 p-0"><a href="{{ url_for('view_single_restroom', rating_id=rating.rating_id) }}" class="to-post">
                <div class="card-body">
                  <h6 class="text-muted">Posted by: {{ Users.query.get(rating.rater_id).username }}</h6>
                  <h5 class="card-title">{{ rating.restroom_name }}</h5>
                  <p class="card-text">{{ rating.rating_body }}</p>
                </div>
              </div></a>
            </div>
          </div>
        {% endfor %}

        <div class="pagination justify-content-center">
          {% if ratings.has_prev %}
            <a href="{{ url_for('index', page=ratings.prev_num) }}" class="btn btn-outline-secondary me-2">&laquo; Previous</a>
          {% endif %}
          {% for page_num in ratings.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if page_num %}
              {% if page_num != ratings.page %}
                <a href="{{ url_for('index', page=page_num) }}" class="btn btn-outline-secondary me-2">{{ page_num }}</a>
              {% else %}
                <button class="btn btn-primary me-2">{{ page_num }}</button>
              {% endif %}
            {% else %}
              <span class="mx-2">...</span>
            {% endif %}
          {% endfor %}
          {% if ratings.has_next %}
            <a href="{{ url_for('index', page=ratings.next_num) }}" class="btn btn-outline-secondary">Next &raquo;</a>
          {% endif %}
        </div>

        <!-- To fix next: sorting breaks with pagination -->

      {% else %}
        <div class="alert alert-danger" role="alert">No restrooms found!</div>
      {% endif %}
      </div>
    </div>

    <div class="col-sm-3 p-0">
      <div class="d-flex justify-content-center">
        <div class="position-absolute">
          <form class="bg-body-secondary my-4" id="index-leave-rating" action="/leaverating" method="post" onsubmit="return validateIndexRestroomForm()">
            <h4 class="text-center">Leave a Rating!</h4>
            <div class="form-group mb-3">
              <label for="location">Location</label>
              <input type="text" class="form-control" name="location" id="location" placeholder="Woodward 1st Floor (Elevator)" oninput="checkLocationLength()" required>
              <small class="form-text text-muted">
                Enter a maximum of 32 characters
              </small>
            </div>
            <div class="form-group mb-3">
              <label for="rating_body">Feedback</label>
              <textarea class="form-control" rows="4" name="rating_body" id="rating_body" oninput="checkFeedbackLength()"></textarea>
              <small class="form-text text-muted">
                Enter a maximum of 250 characters
              </small>
            </div>
            <div class="form-group">
              <label for="cleanliness">Cleanliness</label>
              <div class="row">
                <div class="col-md-10">
                  <input type="range" class="form-range clean-range" min="1" max="5" step="0.5" name="cleanliness" required>
                </div>
                <div class="col-md-2">
                  <div class="clean-value"></div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="overall">Overall Experience</label>
              <div class="row">
                <div class="col-md-10">
                  <input type="range" class="form-range overall-range" min="1" max="5" step="0.5" name="overall" required>
                </div>
                <div class="col-md-2">
                  <div class="overall-value"></div>
                </div>
              </div>
            </div>
            <div class="form-group mt-4">
              <a class="btn" href="/new" role="button" style="background-color: rgba(98,241,210,1.0);">Add More Info</a>
              <button type="submit" class="btn btn-dark">Submit Rating</button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>

<script>
  let cleanSlider = document.querySelector('.clean-range');
  let cleanValue = document.querySelector('.clean-value');
  cleanValue.textContent = cleanSlider.value;
  cleanSlider.oninput = function() {cleanValue.textContent = this.value;}

  let overallSlider = document.querySelector('.overall-range');
  let overallValue = document.querySelector('.overall-value');
  overallValue.textContent = overallSlider.value;
  overallSlider.oninput = function() {overallValue.textContent = this.value;}

  ////////////////////////
  //upvotes/downvotes JS
  const _upvote = document.querySelectorAll('.upvote');
  const _downvote = document.querySelectorAll('.downvote');

  const up = document.querySelectorAll('.up');
  const down = document.querySelectorAll('.down');

  const numVotes = document.querySelectorAll('.numVotes')

  document.addEventListener('DOMContentLoaded', () => {

    document.querySelectorAll('.vote').forEach(vote => {
      
      vote.onclick = function(event){
        const request = new XMLHttpRequest();
        let id = $(event.currentTarget).attr('data-rating_id');
        request.open('POST', `/${vote.id}/${id}`);
        request.onload = () => {
          const response = request.responseText;
          document.getElementById(`num-${id}`).innerHTML = response;
        }; 
         request.send();
      };
    });
  });
</script>
{% endblock %}