{% extends '_layout.html' %}
{% block title %} NUTT | Home {% endblock %}

{% block body %}
<div class="container-fluid">
  <div class="row">

    <div class="col-sm-2 p-0">
      <div class="basic-column">
        <form class="bg-body-secondary mt-5" id="index-sort-by">
          <h4>Sort By:</h4>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="sort-by" value="Cleanliness">
            <label class="form-check-label" for="sort-by">Cleanliness</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="sort-by" value="Handicap">
            <label class="form-check-label" for="sort-by">Handicap</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="sort-by" value="Functionality">
            <label class="form-check-label" for="sort-by">Functionality</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="sort-by" value="Faculty only">
            <label class="form-check-label" for="sort-by">Faculty Only</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="sort-by" value="Overall experience">
            <label class="form-check-label" for="sort-by">Overall Experience</label>
          </div>
        </form>
      </div>
    </div>
    
    <div class="col-sm-7 pt-4" style="background-color: silver;">
      {% for rating in ratings %}
      <div class="card mx-auto mb-4">
        <div class="row">
          <div class="col-1 basic-column sidebar">
            <button type="button" class="btn"><i class="fas fa-arrow-up"></i></button>
            <span class="total-votes">123</span>
            <button type="button" class="btn"><i class="fas fa-arrow-down"></i></button>
          </div>
          <div class="col-11">
            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
            <div class="card-body">
              <h5 class="card-title">{{rating.restroom_name}}</h5>
              <p class="card-text">{{rating.comments}}</p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

      <div class="card mx-auto mb-4">
        <div class="row">
          <div class="col-1 basic-column sidebar">
            <button type="button" class="btn"><i class="fas fa-arrow-up"></i></button>
            <span class="total-votes">123</span>
            <button type="button" class="btn"><i class="fas fa-arrow-down"></i></button>
          </div>
          <div class="col-11">
            <div class="card-body">
              <h5 class="card-title">Woodward 1st Floor (Elevator)</h5>
              <p class="card-text">Not worth my derierre. Small, cramped, constantly smells bad, and looks very old and run-down.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card mx-auto mb-4">
        <div class="row">
          <div class="col-1 basic-column sidebar">
            <button type="button" class="btn"><i class="fas fa-arrow-up"></i></button>
            <span class="total-votes">123</span>
            <button type="button" class="btn"><i class="fas fa-arrow-down"></i></button>
          </div>
          <div class="col-11">
            <div class="card-body">
              <h5 class="card-title">Student Union 3rd Floor (All)</h5>
              <p class="card-text">Like shining white thrones fit for kings and queens!</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card mx-auto mb-4">
        <div class="row">
          <div class="col-1 basic-column sidebar">
            <button type="button" class="btn"><i class="fas fa-arrow-up"></i></button>
            <span class="total-votes">123</span>
            <button type="button" class="btn"><i class="fas fa-arrow-down"></i></button>
          </div>
          <div class="col-11">
            <div class="card-body">
              <h5 class="card-title">Student Union 3rd Floor (All)</h5>
              <p class="card-text">Like shining white thrones fit for kings and queens!</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card mx-auto mb-4">
        <div class="row">
          <div class="col-1 basic-column sidebar">
            <button type="button" class="btn"><i class="fas fa-arrow-up"></i></button>
            <span class="total-votes">123</span>
            <button type="button" class="btn"><i class="fas fa-arrow-down"></i></button>
          </div>
          <div class="col-11">
            <div class="card-body">
              <h5 class="card-title">Student Union 3rd Floor (All)</h5>
              <p class="card-text">Like shining white thrones fit for kings and queens!</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card mx-auto mb-4">
        <div class="row">
          <div class="col-1 basic-column sidebar">
            <button type="button" class="btn"><i class="fas fa-arrow-up"></i></button>
            <span class="total-votes">123</span>
            <button type="button" class="btn"><i class="fas fa-arrow-down"></i></button>
          </div>
          <div class="col-11">
            <div class="card-body">
              <h5 class="card-title">Student Union 3rd Floor (All)</h5>
              <p class="card-text">Like shining white thrones fit for kings and queens!</p>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="col-sm-3 basic-column position-fixed end-0 pt-4 pb-5 my-5 rounded" style="background-color: antiquewhite;">
      <div class="container">
        <p>Leave a Rating!</p>
        <form>
          <div class="form-group">
            <label for="location">Location</label>
            <input type="text" class="form-control" placeholder="Woodward 1st Floor (Elevator)">
          </div>
          <div class="form-group">
            <label for="comments">Comments</label>
            <textarea class="form-control" rows="5"></textarea>
          </div>
          <div class="form-group">
            <label for="cleanliness">Cleanliness</label>
            <select class="form-control">
              <option>5</option>
              <option>4</option>
              <option>3</option>
              <option>2</option>
              <option>1</option>
            </select>
          </div>
          <div class="form-group">
            <label for="overall-experience">Overall Experience</label>
            <select class="form-control">
              <option>5</option>
              <option>4</option>
              <option>3</option>
              <option>2</option>
              <option>1</option>
            </select>
          </div>
          <div class="form-group mt-4">
            <button type="button" class="btn btn-info">Add More Info</button>
            <button type="button" class="btn btn-success">Submit Rating</button>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>
{% endblock %}