{% extends '_layout.html' %}
{% block title %} login page {% endblock %}

{% block body %}
<div  class ="text-center" style="text-align: center; background-color:lightgray; margin: auto; margin-top: 50px; margin-bottom: 50px; width: 30%; padding: 70px; padding-top: 35px; padding-bottom: 35px; border-radius: 25px;">
    <form>
        <h1>LOGIN</h1>
        <br>
        <div class="mb-3">
            <input type="text" class="form-control" id="username"  placeholder="Username" required>
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" id="username"  placeholder="Password" required>
        </div>
        <br>
        <div>
        <button type="submit" class="btn btn-info" style="color: white;">Login</button>
        </div>
        <br>
        <a href="/signup" style="text-decoration: none; color:#0dcaf0;">Click here to create an account</a>
    </form>
</div>
{% endblock %}