{% extends '_layout.html' %}
{% block title %} NUTT | View Single Restroom {% endblock %}

{% block head %}
  <link rel="stylesheet" href="styles.css">
{% endblock %}

{% block body %}
<h1 class="m-5">View Single Restroom</h1>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Restroom location: Student union</h2>
      <div class="row mt-4">
        <div class="col-md-5">
          <img src="#" alt="restroom_img" class="img-fluid">
        </div>
        <div class="col-md-7">
          <ul class="list-group">
            <li class="list-group-item">Cleanliness: 5</li>
            <li class="list-group-item">Accessibility: handicapped</li>
            <li class="list-group-item">Functionality: open</li>
            <li class="list-group-item">Overall Experience: 3</li>
          </ul>
          <div class="mt-4 float-left">
            <form action="" method="GET" class="d-inline-block">
              <button type="submit" class="btn btn-primary">Edit</button>
            </form> 
            <span class="mx-4"></span>
            <form action="" method="POST" class="d-inline-block">
              <button type="submit" class="btn btn-primary">Delete</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
