{% extends '_layout.html' %}
{% block title %} NUTT | View Single Restroom {% endblock %}

{% block body %}
<h1 class="m-5">View Single Restroom</h1>

<div class="container">
    <h2> Restroom location: Student union</h2>
    
    <img src="#" alt="restroom_img">
    
    <ul class="list-group">
        
        <li class="list-group-item">Cleanliness: 5</li>
        
        <li class="list-group-item">Accessibility: handicapped</li>
        
        <li class="list-group-item">Functionality: open</li>
        
        <li class="list-group-item">Overall Experience: 3</li>
    </ul>

    <form action="" method="GET">
        <button type="submit" class="btn btn-primary">Edit</button>
    </form> 
    
    <form action="" method="POST">
        <button type="submit" class="btn btn-primary">Delete</button>
    </form>
    
</div>


{% endblock %}